@use "sass:color";
@use 'react-big-calendar/lib/sass/styles' with (
  $event-bg: #6d1b98,
  $event-border: #4e136d,
  $event-outline: color.adjust(#6d1b98, $lightness: 10%),
  $today-highlight-bg: #f8f4ff
);
@use 'react-big-calendar/lib/addons/dragAndDrop/styles' as dnd-styles;
